{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "@osn"
  ],
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "rules": {
    "no-case-declarations": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
