.toolbar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.toolbarItem {
    width: 24px;
    height: 24px;
}

.toolbarItem:hover svg path {
    fill:#1E2134;
}
