.toolbar {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbarItems {
  display: flex;
  gap: 8px;
}

.toolbarItem {
  width: 24px;
  height: 24px;
}

.toolbarItem:hover svg path {
  fill: #1e2134;
}

.tabs {
  display: flex;
  gap: 24px;
  height: 48px;
}

.tab {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-bottom: 3px solid #ffffff;
}

.active {
  border-bottom: 3px solid #04d2c5;
}

.editorWrapper {
  margin: 16px;
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 12px;
}

.textarea {
  width: 100%;
  min-height: 144px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  padding: 12px;
  background: #fbfcfe;
}

.hidden {
  display: none;
}

/* mobile */
@media screen and (max-width: 769px) {
  .toolbar {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .tabs {
    gap: 0;
  }
  .tab {
    flex: 1;
    padding: 12px 0;
  }

  .toolbarItems {
    border-top: 1px solid #e2e8f0;
    padding: 17.25px 0;
  }
}
