.toolbar {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}
.toolbarItems{
    display: flex;
    gap: 8px;
}

.toolbarItem {
    width: 24px;
    height: 24px;
}

.toolbarItem:hover svg path {
    fill:#1E2134;
}

.tabs{
    display: flex;
    gap: 24px;
    height: 48px;
}

.tab {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 3px solid #ffffff;
}

.active {
border-bottom: 3px solid #04D2C5;
}

.editorWrapper{
    margin: 16px;
    border-top: 1px solid #E2E8F0;
    border-bottom: 1px solid #E2E8F0;
    padding-bottom: 12px;
}
