.markdownPreview {
  min-height: 144px;
  background-color: #fbfcfe;
  padding: 12px;
}

.markdownBody {
  font-size: 14px;
  color: #1e2134;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}

.markdownBody p {
  line-height: 24px;
}
